@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

form {
  text-align: center;
  margin-bottom: 20px;

}

form > input {
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 16px;
  color: #808080;
  font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

form > button {
  background-color: #4e75ff;
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  border: none;
  font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  align-items: center;
  justify-content: center;

}

.gallery-item {
  border: 1px solid #808080;
  flex: 0 0 33%;
}

.image-info {
  display: flex;
    font-family: "Montserrat", sans-serif;
  gap: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}